@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: aviano, serif;
font-style: normal;
font-weight: 700
}
  .table-img{
      width: 500px;
  }
  .section-6, .section-10{
      background-color: #101653
  }
  .section-6-btn:hover{
      background-color: white;
      color: #101653
  }
  .section-9{
      background-image: url(../public/assets/images/light-bulb.avif);
      background-position: center;
      height: 833px;
  }
  .section-9-p{
      text-shadow: 2px 2px 8px blanchedalmond;
  }
  .section-9-btn:hover ~ .section-9{
      background-image: url(../public/assets/images/glow-light.jpg);
      background-position: center;
  }
  
  
    