@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: manofa;
font-style: normal;
font-weight: 700
}
  .table-img{
      width: 500px;
  }
  .nav-list-item button:hover{
    background-color: black;
    color: white;
  }
  
  .start-project:focus{
      background-color: #101653;
  }
  .section-2, .section-3, .section-6, .section-10{
      background-color: #101653
  }
  .section-4 button:focus{
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    background-color: white;
  }
  .section-6-btn:hover, .section-10-btn:hover{
      background-color: white;
      color: #101653
  }
  .section-9{
      background-image: url(./assets/images/light-bulb.jpg);
      background-position: center;
      height: 833px;
      background-size: cover;
  }
  .section-9-p{
      text-shadow: 2px 2px 8px blanchedalmond;
  }
  .section-9-btn:hover{
      background-color: white;
      color: rgb(11, 72, 138);
  }
.footer-btn:hover{
    background-color: white;
    color: #101653;
}
/* #fade_out {
    position:relative;
    height:100%;
    width:auto;
    margin:0 auto;
  }
  
  #fade_out img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    transition: opacity 2s linear;
  }
  
  #fade_out img.top:hover {
    opacity:0;
  } */

  
  
    